html {
  position: relative;
  min-height: 100%; }

body {
  /* style for code highlight */
  /* Margin bottom by footer height */
  margin-bottom: 70px; }
  body .main-wrapper {
    margin-top: 65px; }
    body .main-wrapper .mainMenu {
      position: fixed;
      z-index: 1; }
    body .main-wrapper .nav-item .dropdown .dropdown-item:active {
      background-color: transparent; }
    body .main-wrapper .nav-item .dropdown a {
      cursor: pointer;
      text-decoration: none; }
  body pre > code {
    margin: 0px;
    border-radius: 5px; }
  body .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 70px; }
  body .mainNav {
    position: fixed;
    top: 85px;
    left: 20px;
    width: 280px; }
    body .mainNav .nav-item {
      border-bottom: 1px solid #dedede; }

xmp {
  margin: 5px 0;
  padding: 8px; }

xmp:before {
  content: "";
  display: inline-block;
  height: 1em;
  margin: 0 -5px -2em -5px; }
