html {
  position: relative;
  min-height: 100%; }

body {
  /* style for code highlight */
  /* Margin bottom by footer height */
  margin-bottom: 70px; }
  body .main-wrapper {
    margin-top: 65px; }
    body .main-wrapper .mainMenu {
      position: fixed;
      z-index: 1; }
    body .main-wrapper .nav-item .dropdown .dropdown-item:active {
      background-color: transparent; }
    body .main-wrapper .nav-item .dropdown a {
      cursor: pointer;
      text-decoration: none; }
  body pre > code {
    margin: 0px;
    border-radius: 5px; }
  body .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 70px; }
  body .mainNav {
    position: fixed;
    top: 85px;
    left: 20px;
    width: 280px; }
    body .mainNav .nav-item {
      border-bottom: 1px solid #dedede; }
  body #goUp {
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer; }
  body .hideMe {
    display: none; }
  body .animateMe {
    animation: fadeIn .3s ease-out; }

@keyframes fadeIn {
  0% {
    bottom: 0px;
    opacity: 0; }
  1% {
    display: block; }
  50% {
    bottom: 15px;
    opacity: 0.4; }
  100% {
    opacity: 0.8; } }
