html {
  position: relative;
  min-height: 100%; }

body {
  /* style for code highlight */
  /* Margin bottom by footer height */
  margin-bottom: 70px; }
  body .main-wrapper {
    margin-top: 65px; }
    body .main-wrapper .mainMenu {
      position: fixed;
      z-index: 999; }
    body .main-wrapper .nav-item .dropdown .dropdown-item:active {
      background-color: transparent; }
    body .main-wrapper .nav-item .dropdown a {
      cursor: pointer;
      text-decoration: none; }
  body pre > code {
    margin: 0px;
    border-radius: 5px; }
  body .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 70px; }
  body .mainNav {
    position: fixed;
    top: 85px;
    left: 20px;
    width: 280px; }
    body .mainNav .nav-item {
      border-bottom: 1px solid #dedede; }
  body #goUp {
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer; }
  body .hideMe {
    display: none; }
  body .animateMe {
    animation: fadeIn .3s ease-out; }

@keyframes fadeIn {
  0% {
    bottom: 0px;
    opacity: 0; }
  1% {
    display: block; }
  50% {
    bottom: 15px;
    opacity: 0.4; }
  100% {
    opacity: 0.8; } }
.diagram {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px; }
  .diagram .arrowPlace {
    opacity: .7; }
  .diagram .simpleElem {
    font-size: 20px;
    border-radius: 20%;
    width: 5em;
    height: 5em;
    background: #109e57;
    color: #fff;
    display: flex;
    align-items: center; }
    .diagram .simpleElem h3 {
      padding: 0px;
      margin: 0px;
      font-size: 15px;
      text-align: center; }
  .diagram .simpleElemDark {
    font-size: 20px;
    border-radius: 20%;
    width: 5em;
    height: 5em;
    background: #444444;
    color: #fff;
    display: flex;
    align-items: center; }
    .diagram .simpleElemDark h3 {
      padding: 0px;
      margin: 0px;
      font-size: 15px;
      text-align: center; }
  .diagram .simpleElemWarning {
    font-size: 20px;
    border-radius: 20%;
    width: 5em;
    height: 5em;
    border: 2px dashed #109e57; }
    .diagram .simpleElemWarning .insideSimpleWarning {
      background: #f8881e;
      border-radius: 20%;
      width: 4em;
      height: 4em;
      margin: .5em;
      display: flex;
      align-items: center; }
      .diagram .simpleElemWarning .insideSimpleWarning h3 {
        padding: 0px;
        margin: 0px;
        font-size: 15px;
        text-align: center;
        color: #fff; }
      .diagram .simpleElemWarning .insideSimpleWarning p {
        font-size: 12px;
        color: #fff;
        text-align: center; }

@keyframes mojaAnimacja {
  0% {
    opacity: 0; }
  50% {
    opacity: .8; }
  100% {
    opacity: 0; } }
.animowanyElement {
  width: 60px;
  height: 60px;
  background: red;
  animation-name: mojaAnimacja;
  animation-duration: 4s; }

@keyframes mojaAnimacja2 {
  0% {
    opacity: 0;
    left: 0; }
  25% {
    opacity: 1;
    left: 90%; }
  50% {
    left: 0; }
  75% {
    opacity: 0.5; }
  100% {
    opacity: 0; } }
@keyframes rotateItem {
  50% {
    transform: rotate(0deg); }
  90% {
    transform: rotate(360deg); } }
.animowanyElement2 {
  position: relative;
  animation-name: mojaAnimacja2;
  animation-duration: 4s; }

.animowanyBox {
  width: 60px;
  height: 60px;
  background: red;
  opacity: 1;
  transform-origin: center center;
  animation-name: rotateItem;
  animation-duration: 4s; }

.mainFlexContainer,
.mainFlexContainer2 {
  display: flex;
  min-height: 200px;
  width: 100%;
  border: 2px solid silver; }
  .mainFlexContainer > div,
  .mainFlexContainer2 > div {
    padding: 10px;
    font-size: 2rem;
    color: #fff; }
  .mainFlexContainer div:nth-of-type(1),
  .mainFlexContainer2 div:nth-of-type(1) {
    background: #0566b4; }
  .mainFlexContainer div:nth-of-type(2),
  .mainFlexContainer2 div:nth-of-type(2) {
    background: #1c4685; }
  .mainFlexContainer div:nth-of-type(3),
  .mainFlexContainer2 div:nth-of-type(3) {
    background: #042447; }

.mainFlexContainer2 > div {
  padding: 20px;
  font-size: 2rem;
  color: #fff; }
.mainFlexContainer2 div:nth-of-type(1) {
  background: #b41105; }
.mainFlexContainer2 div:nth-of-type(2) {
  background: #851c1c; }
.mainFlexContainer2 div:nth-of-type(3) {
  background: #470404; }
  .carousel {
    max-height: 550px;
    overflow: hidden;
}
.carousel .carousel-item img {
  width: 100%;
  height: auto;
  }