html {
    position: relative;
    min-height: 100%;
}

body {
    .main-wrapper {
        margin-top: 65px;

        .mainMenu {
            position: fixed;
            z-index: 1;
        }

        .nav-item {
            .dropdown {
                .dropdown-item:active {
                    background-color: transparent;
                }

                a {
                    cursor: pointer;
                    text-decoration: none;
                }
            }
        }
    }

    /* style for code highlight */
    pre > code {
        margin: 0px;
        border-radius: 5px;
    }

    /* Margin bottom by footer height */
    margin-bottom: 70px;
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 70px;
    }

    .mainNav {
        position: fixed;
        top: 85px;
        left: 20px;
        width: 280px;

        .nav-item {
            border-bottom: 1px solid #dedede;
        }
    }
}

xmp { margin: 5px 0; padding: 8px; }
xmp:before { content: ""; display: inline-block; height: 1em; margin: 0 -5px -2em -5px; }

