html {
    position: relative;
    min-height: 100%;
}

body {
    .main-wrapper {
        margin-top: 80px;
    }

    /* Margin bottom by footer height */
    margin-bottom: 70px;
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 70px;
    }

    .mainNav {
        position: fixed;
        top: 85px;
        left: 20px;
        width: 280px;

        .nav-item {
            border-bottom: 1px solid #dedede;
        }
    }
}
